@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins text-gray-900 bg-gray-50;
  }
  
  h1 {
    @apply text-4xl font-bold text-blue-900 text-center mb-4;
  }
}
